.sub-header {
	border-radius: 4px 4px 0px 0px;
	margin-right: 5px;
}
.sub-header h1 {
	color: #6e7880;
	padding: 5px 0px !important;
	opacity: 0.5;
	margin: 0 !important;
	font-size: 12px;
	text-align: end;
	font-family: var(--regular-font-family) !important;
}
