.profile-parent {
}
.profile-bg {
	background: white;
	margin-top: 10px;
	border-radius: 8px;
	padding: 10px 20px !important;
}
.profile-container img {
	width: 200px;
	height: 200px;
	object-fit: fill;
	border-radius: 100%;
	box-shadow: var(--shadow);
	padding: 0 !important;
	margin: 10px;
}
.profile-container {
	position: relative;
	border-radius: 8px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.profile-container h1 {
	font-size: 25px;
}
