.swipeElement {
	position: fixed !important;
	bottom: 30px;
	left: 30px;
	width: 80px !important;
	height: 80px !important;
}
.swiper-slide svg {
	width: 80%;
	height: 80%;
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
.swipeElement .swiper-pagination {
	display: none;
}
